// // /* 修改滚动条整体样式 */
// ::-webkit-scrollbar {
//     width: 1px;
// }

// /* 修改滚动条轨道样式 */
// ::-webkit-scrollbar-track {
//     // background-color: #06192a;
//     background: transparent;
// }
// ::-webkit-scrollbar-thumb {
//     /*滚动条里面小方块*/
//     border-radius: 10px;
//     height: 20px;
//     -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//     // background: #E5E5E5;
//     // background: rgb(39, 42, 219);
//     background-color: #21415e;
// }

/* 弹出框 样式*/

.el-dialog {
    background-color: #06192a !important;
    border: solid 1px #22486a !important;
    // position: absolute !important;
    // right: 30px !important;
    // top: 140px !important;
    // margin: 0 !important;

    .el-dialog__header {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-between;
        // background: url("@/assets/image/dialog-header.png");
        padding: 0;
        margin: 0;

        .el-dialog__title {
            width: 50%;
            font-size: 22px;
            font-weight: normal;
            font-style: italic;
            font-stretch: normal;
            line-height: 38px;
            letter-spacing: 1px;
            font-weight: bold;
            color: #3375ca;
            line-height: 35pxs;
        }

        .el-dialog__headerbtn {
            width: 35px;
            height: 35px;
        }

        .el-dialog__title::before {
            content: "";
            // background: url("@/assets/image/dialg-logo.png");
            background-size: 11px 11px;
            display: inline-block;
            margin-right: 15px;
            width: 11px;
            margin-left: 11px;
            height: 11px;
        }
    }
    .el-dialog__body {
        height: 600px;
        .jiejingBox {
            height: 600px;
            position: relative;
            #btn-prev,
            #btn-next {
                position: absolute;
                transform: translateY(-50%);
                left: 50%;
                width: 50px;
                height: 50px;
                background-color: rgba(255, 255, 255, 0.5);
                border: none;
                border-radius: 50%;
                font-size: 18px;
                font-weight: bold;
                color: #333;
                cursor: pointer;
            }
            #btn-prev {
                top: 10px;
                transform: rotate(90deg);
            }
            #btn-next {
                bottom: 10px;
                transform: rotate(-270deg);
            }
        }
        .video-js{
            height: 100% !important;
        }
        // .vjs-poster {
        //     height: 50% !important;
        //     width: 100% !important;
        // }
        // .vjs-tech {
        //     height: 50% !important;
        //     width: 100% !important;
        // }
        
    }
}

/*表格样式*/
.el-table {
    border: 1px solid #235b91 !important;
    border-bottom: 1px solid #235b91 !important;
    --el-table-border-color: none !important;
    color: #ffffff !important;
    font-size: 16px !important;
    .el-table__body-wrapper {
        background-color: #09263f !important;
    }

    tr {
        background-color: #09263f !important;

        td.el-table__cell {
            border-bottom: 1px solid #235b91 !important;
        }
    }
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #06192a !important;
}

.el-table thead tr > th {
    background-color: #194671 !important;
    color: #ffffff;
    font-size: 16px;
    border-bottom: 1px solid #235b91 !important;
    font-weight: 400;
}

// 树控件
.el-tree{
    --el-tree-node-hover-bg-color: transparent !important;
    --el-tree-text-color: #f0f7ff !important;
    background: transparent !important;
    color: #f0f7ff;
    background: none;
    .el-tree-node {
        color: #d6d4d4;
        font-size: 18px;
        margin-top: 8px;
        white-space: normal; //关键代码!!!!!!!!!
                &.is-current{
                        >.el-tree-node__content{
                            background: linear-gradient(to right, transparent 0%, #3375ca 50%, transparent 100%);
                            >span{
                                color: #fff;
                                // font-weight: bold;
                            }
                        }
                    }
        /* ^ 所有节点 */
        i.el-tree-node__expand-icon {
            padding: 6px;

            &::before {
                font-family: element-ui-icons;
                font-style: normal;
                content: "\e6d9";
                color: #fff;
                border: 1px solid #1d5775;
                border-radius: 2px;
            }
            svg {
                display: none; // 隐藏所有节点的 svg 图标
            }
        }
        /* / 所有节点 */

        /* ^ 已展开的父节点 */
        i.el-tree-node__expand-icon.expanded {
            transform: rotate(0deg); // 取消旋转
            -webkit-transform: rotate(0deg); // 取消旋转

            // &::before {
            //   font-family: element-ui-icons;
            //   font-style: normal;
            //   content: "\e6d8";
            //   color: #fff;
            //   border: 1px solid #1d5775;
            //   border-radius: 2px;
            // }
        }
        /* / 已展开的父节点 */

        /* ^ 叶子节点 */
        i.el-tree-node__expand-icon.is-leaf {
            &::before {
                display: none;
            }
        }
        /* / 叶子节点 */

        /* ^ 复选框 */
        .el-checkbox {
            margin: 0 7px 0 2px;

            .el-checkbox__inner {
                width: 14px;
                height: 14px;
                border-radius: 2px;
                border: 1px solid #1d5775;
            }

            .el-checkbox__input.is-checked .el-checkbox__inner,
            .el-checkbox__input.is-indeterminate .el-checkbox__inner {
                border: 1px solid #5e7ce0;
            }
        }
        /* / 复选框 */

        .el-tree-node__content {
            height: 100%;
            // align-items: start;
            // margin: 5px 0px;
            small {
                font-size: 13px;
            }
        }
    }
    /* ---- ---- ---- ---- /（节点对齐）---- ---- ---- ---- */

    /* ---- ---- ---- ---- ^（文字高亮）---- ---- ---- ---- */
    .el-tree-node.is-current {
        .el-tree-node__content {
            small {
                color: #5e7ce0;
            }
        }

        .el-tree-node__children {
            small {
                color: unset;
            }
        }
    }
    /* ---- ---- ---- ---- /（文字高亮）---- ---- ---- ---- */

    /* ---- ---- ---- ---- ^（新增辅助线）---- ---- ---- ---- */
    /* ^ 树节点 */
    .el-tree-node {
        position: relative;
        width: auto;
        // width: max-content; // 显示文字宽度
        padding-left: 13px;

        &::before {
            width: 1px;
            height: 100%;
            content: "";
            position: absolute;
            top: -38px;
            bottom: 0;
            left: 0;
            right: auto;
            border-width: 1px;
            border-left: 1px dashed #1d5775;
        }

        &::after {
            width: 30px;
            height: 13px;
            content: "";
            position: absolute;
            z-index: 0;
            left: 0;
            right: auto;
            top: 12px;
            bottom: auto;
            border-width: 1px;
            border-top: 1px dashed #1d5775;
        }

        .el-tree-node__content {
            position: relative;
            z-index: 1;
            color: #fff;
            padding-left: 0 !important;

            /* ^ 复选框 */
            .el-checkbox {
                // margin: 0 10px 0 5.5px;
                margin: 0 10px 0 0px;
            }
            /* / 复选框 */
        }

        .el-tree-node__children {
            padding-left: 12px;
        }

        &:last-child::before {
            height: 50px;
        }
    }
    /* / 树节点 */

    /* ^ 第一层节点 */
    > .el-tree-node {
        padding-left: 0;

        &::before {
            border-left: none;
        }

        &::after {
            border-top: none;
        }
    }
    /* / 第一层节点 */

    /* ^ 叶子节点 */
    i.el-tree-node__expand-icon.is-leaf {
        display: none;
    }
    /* / 叶子节点 */

    /* ^ 设置子节点左外边距 */
    .el-tree-node__content:has(.is-leaf) {
        // color: #00ffff;
        margin-left: 25px !important;
    }
    /* / 设置子节点左外边距 */
    /* ---- ---- ---- ---- /（新增辅助线）---- ---- ---- ---- */
    ::v-deep .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
        background-color: transparent !important;
        color: red;
    }
    .el-tree-node i.el-tree-node__expand-icon {
        width: 4px !important;
        height: 4px !important;
        background: #1b5f7e;
        margin-left: 5px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin-right: 7px;
    }
    .el-tree-node i.el-tree-node__expand-icon::before {
        content: "" !important;
        border: none;
        position: absolute;
        top: 25%;
        left: 50%;
        width: 1px;
        height: 10px;
        background: #fff;
    }
    .el-tree-node i.el-tree-node__expand-icon::after {
        content: "" !important;
        border: none;
        position: absolute;
        top: 50%;
        left: 20%;
        width: 10px;
        height: 1px;
        background: #fff;
    }
    .el-tree-node i.el-tree-node__expand-icon.expanded::before {
        content: "" !important;
        border: none;
        position: absolute;
        top: 50%;
        left: 20%;
        width: 10px;
        height: 1px;
        background: #fff;
    }
    .el-tree-node i.el-tree-node__expand-icon {
        width: 4px !important;
        height: 4px !important;
        background: #1b5f7e;
        margin-left: 5px;
        position: relative;
        cursor: pointer;
        margin-right:7px;
      }
      .el-tree-node i.el-tree-node__expand-icon::before {
        content: "" !important;
        border: none;
        position: absolute;
        top: 25%;
        left: 50%;
        width: 1px;
        height: 10px;
        background: #fff;
      }
      .el-tree-node i.el-tree-node__expand-icon::after {
        content: "" !important;
        border: none;
        position: absolute;
        top: 50%;
        left: 20%;
        width: 10px;
        height: 1px;
        background: #fff;
      }
      .el-tree-node i.el-tree-node__expand-icon.expanded::before {
        content: "" !important;
        border: none;
        position: absolute;
        top: 50%;
        left: 20%;
        width: 10px;
        height: 1px;
        background: #fff;
      }
      
}

// 描述列表
.el-descriptions {
    --el-descriptions-table-border: 0 !important;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    .el-descriptions__header {
        .el-descriptions__title {
            color: #3375ca;
        }
    }
    .el-descriptions__body {
        background: transparent;
        .el-descriptions__table {
            border: 0;
            border-spacing: 0;
            .el-descriptions__label {
                background: transparent;
                color: #def512;
                font-weight: bold;
            }
            .el-descriptions__content {
                color: #fff;
                font-size: 18px;
            }
        }
    }
}

// tab切换
.el-tabs {
    .el-tabs__header {
        .el-tabs__item {
            color: #d6d4d4;
            height: 30px;
            &.is-active {
                background: linear-gradient(to right, transparent 0%, #3375ca 50%, transparent 100%);
            }
        }
    }
}
