@import "./_var.scss";
$active-color: #1a7bf9; //激活颜色

$not-obvious: #5b697b; //不明显 或 不突出

$system-light: #0e3050; //系统 浅色

$system-middle: #09365e; //系统 中

$system-strong: #07253f; //系统 重

$border-light: #235b91; // 边框 浅

/* ----------------------------------- 按钮 ----------------------------------- */
.el-button {
  // 主要按钮
  &.el-button--primary {
    background: linear-gradient(180deg, $system-strong 0%, $active-color 100%);
    border-color: $border-light;
    &:hover {
      border-color: $active-color;
    }
  }
}

// input 输入框
.el-input {
  .el-input__wrapper {
    background: transparent;
    background: $system-middle;
    box-shadow: none;
    box-shadow: 0 0 0 1px $active-color;
    &:hover {
      box-shadow: 0 0 0 1px $active-color;
    }
  }
}
// select
.el-select {
  width: 160px !important;
  .el-select__wrapper {
    background: transparent;
    background: $system-middle;
    box-shadow: none;
    box-shadow: 0 0 0 1px $active-color;
    &:hover,
    .is-hovering {
      box-shadow: 0 0 0 1px $active-color;
    }
    &.is-hovering:not(.is-focused) {
      box-shadow: 0 0 0 1px $active-color;
    }
  }
}
// 下拉框
.el-popper {
  border: solid 1px $active-color !important;
  .el-select-dropdown {
    background: transparent;
    overflow: hidden;

    .el-scrollbar {
      background: transparent;
      .el-select-dropdown__wrap {
        background: transparent;
        .el-select-dropdown__list {
          background-color: rgba($color: $system-strong, $alpha: 0.99);
          // background: rgba(17, 38, 69, 0.7);
          .el-select-dropdown__item {
            color: #ffffff;
            font-weight: bold;
            font-size: 14px;
            font-weight: 500;
            font-family: Source Han Sans CN;

            &.is-hovering {
              background: linear-gradient(to right, transparent 0%, $active-color 50%, transparent 100%);
              text-shadow:
                0 0 5px $border-light,
                0 0 5px $border-light,
                0 0 5px $border-light,
                0 0 5px $border-light;
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  // 背景色
  &.is-light {
    background: transparent !important;
    // 小三角
    .el-popper__arrow {
      &::before {
        border: solid 1px $active-color !important;
        background-color: rgba($color: $system-strong, $alpha: 0.99) !important;
      }
    }
  }
}
// 日期选择器
.el-date-picker{
  background-color: rgba($color: $system-strong, $alpha: 0.99) !important;
  color: #fff !important;
  .el-picker-panel__body-wrapper{
    .el-picker-panel__body{

    }
  }
  .el-picker-panel__footer{
    background: transparent;
  }
}
// 文本域
.el-textarea {
  .el-textarea__inner {
    background-color: $system-middle !important;
    box-shadow: 0 0 0 1px $active-color inset !important;
    font-size: 12px;
  }
}

// 开关
.el-switch {
  .el-switch__core {
    background-color: $system-middle !important;
    border-color: $not-obvious;
    .el-switch__action {
      background-color: $not-obvious;
    }
  }
  &.is-checked {
    .el-switch__core {
      background-color: $system-middle !important;
      border-color: $active-color;
      .el-switch__action {
        background-color: $active-color;
      }
    }
  }
}
// tabs切换
.el-tabs {
  &.el-tabs--card {
    .el-tabs__header {
      border: 0;
      margin: 0;

      .el-tabs__nav-wrap {
        .el-tabs__nav-scroll {
          .el-tabs__nav {
            border: 0;
            .el-tabs__item {
              color: #d6d4d4;
              border: 1px solid rgba(18, 101, 136, 1);
              margin-right: 10px;
              &.is-active {
                background: linear-gradient(180deg, $system-light 0%, $system-middle 100%);
                border: 1px solid rgba(18, 101, 136, 1);
              }
            }
          }
        }
      }
    }
  }
}
/* 弹出框 样式*/
.el-dialog {
  padding: 0;
  background: transparent;
  .el-dialog__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background: url("@/assets/image/tab.png") no-repeat;
    background-size: 100% 100%;
    height: 38px;
    .el-dialog__title {
      font-size: 22px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 38px;
      letter-spacing: 1px;
      font-weight: bold;
      color: #fff;
      text-shadow:
        0 0 10px $active-color,
        0 0 20px $active-color,
        0 0 30px $active-color,
        0 0 40px $active-color;
    }

    .el-dialog__headerbtn {
      width: 35px;
      height: 35px;
    }

    .el-dialog__title::before {
      content: "";
      background-size: 11px 11px;
      display: inline-block;
      margin-right: 15px;
      width: 11px;
      margin-left: 11px;
      height: 11px;
    }
  }
  .el-dialog__body {
    margin-top: 2px;
    border: solid 1px $active-color !important;
    background-color: rgba($color: $system-strong, $alpha: 0.9);
  }
}

/*表格样式*/
.el-table {
  border: 1px solid $border-light !important;
  --el-table-border-color: none !important;
  color: #ffffff !important;
  font-size: 16px !important;
  .el-table__body-wrapper {
    background-color: $system-light !important;
  }

  .el-table__row {
    background-color: $system-light !important;
    td.el-table__cell {
      border-bottom: 1px solid $border-light !important;
    }
    &.el-table__row--striped {
      td {
        background-color: $system-middle !important;
      }
    }
    // fixed 定位
    &.hover-row > td {
      background-color: $system-middle !important;
    }
  }
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: $system-middle !important;
}

.el-table thead tr > th {
  background-color: $system-strong !important;
  color: #ffffff;
  font-size: 16px;
  border-bottom: 1px solid $border-light !important;
  font-weight: 400;
}

// 树控件
.el-tree {
  --el-tree-node-hover-bg-color: transparent !important;
  --el-tree-text-color: #f0f7ff !important;
  background: transparent !important;
  color: #f0f7ff;
  background: none;
  .el-tree-node {
    color: #d6d4d4;
    font-size: 18px;
    margin-top: 8px;
    // white-space: normal; //关键代码!!!!!!!!!
    // 选中样式
    &.is-current {
      > .el-tree-node__content {
        background: linear-gradient(to right, transparent 0%, #3375ca 50%, transparent 100%);
        > span {
          color: #fff;
          font-weight: bold;
        }
      }
    }
    /* ^ 所有节点 */
    i.el-tree-node__expand-icon {
      padding: 6px;

      &::before {
        font-family: element-ui-icons;
        font-style: normal;
        content: "\e6d9";
        color: #fff;
        border: 1px solid #1d5775;
        border-radius: 2px;
      }
      svg {
        display: none; // 隐藏所有节点的 svg 图标
      }
    }

    /* ^ 已展开的父节点 */
    i.el-tree-node__expand-icon.expanded {
      transform: rotate(0deg); // 取消旋转
      -webkit-transform: rotate(180deg); // 取消旋转
    }

    /* ^ 叶子节点 */
    i.el-tree-node__expand-icon.is-leaf {
      &::before {
        display: none;
      }
    }
    /* ^ 复选框 */
    .el-checkbox {
      margin: 0 7px 0 2px;

      .el-checkbox__inner {
        width: 14px;
        height: 14px;
        border-radius: 2px;
        border: 1px solid #1d5775;
      }

      .el-checkbox__input.is-checked .el-checkbox__inner,
      .el-checkbox__input.is-indeterminate .el-checkbox__inner {
        border: 1px solid #5e7ce0;
      }
    }

    .el-tree-node__content {
      height: 100%;
      small {
        font-size: 13px;
      }
      // 自定义样式
      .tree-node {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .label {
          white-space: nowrap; /* 不换行 */
          overflow: hidden; /* 超出部分隐藏 */
          text-overflow: ellipsis; /* 使用省略号表示截断 */
          width: 70%;
        }
      }
    }
  }
  /* ---- ---- ---- ---- /（节点对齐）---- ---- ---- ---- */

  /* ---- ---- ---- ---- ^（文字高亮）---- ---- ---- ---- */
  .el-tree-node.is-current {
    .el-tree-node__content {
      small {
        color: #5e7ce0;
      }
    }

    .el-tree-node__children {
      small {
        color: unset;
      }
    }
  }
  /* ---- ---- ---- ---- /（文字高亮）---- ---- ---- ---- */

  /* ---- ---- ---- ---- ^（新增辅助线）---- ---- ---- ---- */
  /* ^ 树节点 */
  .el-tree-node {
    position: relative;
    width: auto;
    // width: max-content; // 显示文字宽度
    padding-left: 13px;

    &::before {
      width: 1px;
      height: 100%;
      content: "";
      position: absolute;
      top: -38px;
      bottom: 0;
      left: 0;
      right: auto;
      border-width: 1px;
      border-left: 1px dashed $border-light;
    }

    &::after {
      width: 30px;
      height: 13px;
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      right: auto;
      top: 12px;
      bottom: auto;
      border-width: 1px;
      border-top: 1px dashed $border-light;
    }
    .el-tree-node__content {
      position: relative;
      z-index: 1;
      color: #fff;
      padding-left: 0 !important;
      text-shadow:
        0 0 5px $border-light,
        0 0 5px $border-light,
        0 0 5px $border-light,
        0 0 5px $border-light;
      /* ^ 复选框 */
      .el-checkbox {
        margin: 0 10px 0 0px;
      }
    }
    .el-tree-node__children {
      padding-left: 12px;
    }
    &:last-child::before {
      height: 50px;
    }
  }
  /* / 树节点 */

  /* ^ 第一层节点 */
  > .el-tree-node {
    padding-left: 0;

    &::before {
      border-left: none;
    }

    &::after {
      border-top: none;
    }
  }
  /* / 第一层节点 */

  /* ^ 叶子节点 */
  i.el-tree-node__expand-icon.is-leaf {
    display: none;
  }
  /* ^ 设置子节点左外边距 */
  .el-tree-node__content:has(.is-leaf) {
    margin-left: 25px !important;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
    font-size: 16px;
  }
  /* / 设置子节点左外边距 */
  /* ---- ---- ---- ---- /（新增辅助线）---- ---- ---- ---- */
  ::v-deep .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: transparent !important;
  }

  .el-tree-node i.el-tree-node__expand-icon {
    width: 4px !important;
    height: 4px !important;
    background: $system-light;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    margin-right: 7px;
  }
  .el-tree-node i.el-tree-node__expand-icon::before {
    content: "" !important;
    border: none;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 1px;
    height: 10px;
    background: #fff;
  }
  .el-tree-node i.el-tree-node__expand-icon::after {
    content: "" !important;
    border: none;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 10px;
    height: 1px;
    background: #fff;
  }
  .el-tree-node i.el-tree-node__expand-icon.expanded::before {
    content: "" !important;
    border: none;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 10px;
    height: 1px;
    background: #fff;
  }
}

// 描述列表
.el-descriptions {
  --el-descriptions-table-border: 0 !important;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
  .el-descriptions__header {
    .el-descriptions__title {
      color: #3375ca;
    }
  }
  .el-descriptions__body {
    background: transparent;
    .el-descriptions__table {
      border: 0;
      border-spacing: 0;
      .el-descriptions__cell {
        padding-bottom: 5px !important;
        .el-descriptions__label {
          background: transparent;
          color: #ffffff;
          font-weight: bold;
          font-size: 14px;
          font-weight: 500;
          font-family: Source Han Sans CN;
          text-shadow:
            0 0 5px $border-light,
            0 0 5px $border-light,
            0 0 5px $border-light,
            0 0 5px $border-light;
          margin-right: 0px;
        }
        .el-descriptions__content {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}

// 分割线
.el-divider {
  .el-divider__text {
    color: #fff;
    background: transparent;
    text-shadow:
      0 0 5px $active-color,
      0 0 5px $active-color,
      0 0 5px $active-color,
      0 0 5px $active-color;
    font-size: 16px;
  }
  &.el-divider--horizontal {
    border-top: 1px $border-light solid;
  }
}

// 弹窗dialog
.dialog-popup5 {
  .el-dialog__header {
    display: none !important;
  }
  .el-dialog__body {
    background-color: $system-light;
    height: $popupHeight * 1.15;
    border: 1px solid whitesmoke;
  }
}
.el-dialog.is-draggable.el-dialog--center.dialog-popup5 {
  padding: 0 !important;
  background: $bg4;
  width: auto;
}

// form表单
.el-form {
  .el-form-item {
    .el-form-item__label {
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
      font-weight: 500;
      font-family: Source Han Sans CN;
      text-shadow:
        0 0 5px $border-light,
        0 0 5px $border-light,
        0 0 5px $border-light,
        0 0 5px $border-light;
      margin-right: 0px;
    }
  }
}
