@import '@/assets/css/_var.scss';

@mixin popupBasic {
  width: $popupWidth * 1.01;
  height: $popupHeight*1.05;
  font-family: 'Source Han Sans CN';
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  background-color: $color1;
}
@mixin popupMainBasic {
  width: 100%;
  height: 474px;
  font-family: 'Source Han Sans CN';
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  background-color: $color1;
}

@mixin popupCloseBtn {
  position: absolute;
  top: 4px;
  left: 450px;
  width: 16px;
  height: 16px;
}

@mixin popupTitle {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 86px;
  height: 18px;
  font-size: 12px;
  font-weight: 400;
  color: $color3;
  line-height: 18px;
}
