
* {
  text-decoration: none;
  list-style: none;

}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}


/* 字体引入 */
@font-face {
  font-family: PangMenZhengDao;
  src: url("@/assets/font/庞门正道标题体.ttf");
}
/* SourceHanSansCN-Regular */
@font-face {
  font-family: Source Han Sans CN;
  src: url("@/assets/font/Source Han Sans CN Regular.ttf");
}
/* 壹心畅游体 */
@font-face {
  font-family: 壹心畅游体;
  src: url("@/assets/font/壹心畅游体.ttf");
}
p{
  font-family: Source Han Sans CN;
  margin: 0;
  padding: 0;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
 ::-webkit-scrollbar
 {
     width:8px;
 }
 /*定义滚动条轨道
  内阴影+圆角*/
 ::-webkit-scrollbar-track
 {
     -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
     border-radius:10px;
 }
 /*定义滑块
  内阴影+圆角*/
 ::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     height: 20px;
     -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
     background: #E5E5E5;
      background: rgb(39, 42, 219);
     background-color: #21415e;
     
 }
 

/* 通用表头样式 */
.titleBox {
  height: 38px;
  width: 100%;
  background: url('@/assets/image/tab.png') no-repeat;
  background-size: 100% 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  align-items: center;
  
  span {
      font-family: PangMenZhengDao;
      margin-left: 10px;
      font-size: 20px;
      color: #FFFFFF;
      text-shadow: 0 0 10px #158EFF, 0 0 20px #158EFF, 0 0 30px #158EFF, 0 0 40px #158EFF;
  }
}
.titleBox .el-image{
  height: 22px;
  width: 18px;
}
.titleBox .el-icon{
  color: #43a3fd;
  cursor: pointer;
  float: right;
  position: absolute;
  right: 10px;
}
/* 通用内容容器样式 */
.contentBox{
  margin-top: 2px;
  height: calc(100% - 40px);
  background: rgba(17, 38, 69, 0.7);
  border: 1px solid #1a7bf9;
  box-sizing: border-box;
  padding: 10px;
}